.wrapper {
   margin-bottom: 20px;
   margin-right: 20px;
   text-align: end;
   margin-left: 80%;
   background-color: rgb(24, 119, 242);
   border-radius: 16px;
}

.message {
   text-align: center;
   padding: 4px 4px;
   color: #fff;
}

.time {
   font-size: 12px;
   font-style: italic;
}

.img {
   width: 150px;
   height: 150px;
}
