.wrapper {
   margin-bottom: 8px;
}

.header-cmt {
   display: flex;
}

.username {
   font-style: oblique;
   font-weight: 600;
   margin-right: 10px;
}

.time {
   font-size: 12px;
   font-style: italic;
}

.input-cmt {
   width: 90%;
   line-height: 1.5;
   outline: none;
   padding: 4px;
   border-color: #ccc;
   border-radius: 8px;
}
