.wrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   text-align: center;
   background: rgba(0, 0, 0, 0.2);
}

.form {
   margin-left: 30%;
   margin-right: 30%;
   background-color: #fff;
   border-radius: 16px;
   margin-top: 16%;
}

.btn {
   border-bottom: 1px solid #ccc;
   height: 40px;
   cursor: pointer;
   padding: 12px 0 0 0;
}
