.wrapper {
   margin-bottom: 20px;
   margin-left: 20px;
   background-color: #ccc;
   margin-right: 80%;
   border-radius: 16px;
}

.message {
   text-align: center;
   padding: 4px;
}

.time {
   font-size: 12px;
   font-style: italic;
}

.img {
   width: 150px;
   height: 150px;
}
