.wrapper {
   margin-left: 30px;
   margin-bottom: 8px;
}

.header-cmt {
   display: flex;
}

.username {
   font-style: oblique;
   font-weight: 600;
   margin-right: 10px;
}

.time {
   font-size: 12px;
   font-style: italic;
}
